{%- if include.gist -%}
<a href="https://gist.github.com/{{ include.gist }}"><picture><source media="(prefers-color-scheme: dark)" srcset="https://img.shields.io/github/gist/stars/{{ include.gist }}?style=flat&label=%E2%98%86&labelColor=2d2d2d&color=2d2d2d"><img src="https://img.shields.io/github/gist/stars/{{ include.gist }}?style=flat&label=%E2%98%86&labelColor=eaeaea&color=eaeaea" alt="stars"></picture></a>
{%- else -%}
<a href="https://github.com/{{ include.repo }}"><picture><source media="(prefers-color-scheme: dark)" srcset="https://img.shields.io/github/stars/{{ include.repo }}?style=flat&label=%E2%98%86&labelColor=2d2d2d&color=2d2d2d"><img src="https://img.shields.io/github/stars/{{ include.repo }}?style=flat&label=%E2%98%86&labelColor=eaeaea&color=eaeaea" alt="stars"></picture></a>
{%- endif -%}
